html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Header */

.container-header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: flex-start;
}

.div_burger_menu {
  text-align: left;
  height: 70px;
  background-color: #363636;
  color: white;
}

.button_burger_menu {
  margin-left: 20px;
  margin-top: 10px;
  background-color: #363636;
  border-radius: 10px;
}

.button_burger_menu:focus {
  outline:0;
}

.button_burger_menu img {
  padding: 5px;
}

.wrapper_menu {
  position: absolute;
  width: 230px;
  overflow: hidden;
  text-align: left;
  height: 0px;
  transition: height 0.8s;
}

.display_menu {
  height: 690px;
}

.wrapper_menu_items div {
  color: white;
  padding: 15px 0 15px 20px;
  border-top: 1px solid #363636;
  background: linear-gradient(to bottom right, black, #363636);
}

.wrapper_menu_items_admin div:not(.sep_admin_menu) {
  color: white;
  padding: 15px 0 15px 20px;
  border-top: 1px solid #363636;
  background: linear-gradient(to bottom right, black, #363636);
}

.sep_admin_menu {
  padding: 4px;
  background-color: #CECECE;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: black;
}

.wrapper_overlay {
  display: none;
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.overlay_active {
  display: block;
}

/* Header > NavBar */

.container-grid-navbar {
  display: grid;
  grid-template-columns: 100%;
  height: 70px;
  background-color: #363636;
  color: white;
}

.item-navbar_inesis {
  margin-top: 15px;
}

.item-navbar_user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-navbar_empty {
  background-color: #363636;
  height: 70px;
}

.user_pic {
  height: 60px;
  border-radius:30px;
  align-self: flex-end;
  margin: 0 10px 0 0;
}

.user_pic2 {
  height: 40px;
  width: 40px;
  border-radius:30px;
  align-self: flex-end;
}

.user_pic_idea {
  height: 64px;
  width: 64px;
  border-radius:54px;
  align-self: flex-end;
  padding-right: 16px;
  padding-top: 8px;
}

/* Sign in Google Button*/

.navbar-center {
  margin:20px auto;
  width:161px;
}

/* End of Sign in Google Button */


/* Dashboard */

.container-global-dashboard {
  background: url("./images/bckgrd_Inesis_without_logo.jpg");
  background-position-x: center;
  background-repeat:no-repeat;
  background-color: #12110C;
  background-size: cover;
  height: 100%;
}

@media (max-width: 850px) {
  .container-global-dashboard {
  background: none;
  background-color: #12110C;
  }
}

.dashboard_items_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard_item {
  margin: 60px;
  width: 200px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  background-color: #ffdf00;
  border: 1px solid #363636;
  border-radius: 15px;
}

@media (max-width: 850px) {
  .dashboard_item {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 564px) {
  .dashboard_item {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.dashboard_button {
  background-color: #363636;
  color: #ffdf00;
}

.dashboard_button:hover {
  color: #fff;
}

.dashboard_item img {
  margin-bottom:10px;
}

/* View Ideas */

.list_ideas_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list_questions_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle_listIdeas {
  font-style: italic;
  color: grey;
}

.list_ideas_item {
  overflow: hidden;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 8px;
  width: 600px;
  height: 70px;
  margin: 10px auto;
  border: 1px solid #CECECE;
  transition: height 1s;
  color: #363636;
}

.list_ideas_item a {
  text-decoration: none;
  color: #363636;
}

.list_ideas_item:hover {
  text-decoration: none;
  height: 160px;
}

.idea_description {
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 15px;
  padding: 10px;
  background: linear-gradient(to right, #efefef, white);
}

.idea_description span {
  font-style: italic;
  color: #CECECE;
  float:right;
  padding-right: 20px;
  margin-top: 20px;
}

.center_top_idea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top_idea_global {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 500px;
  border: 3px solid #FFDF00;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
  color: #363636;
}

.topIdea_owner {
  font-size: 12px;
  font-style: italic;
  color: #CECECE;
  float:right;
  padding-right: 20px;
}


/* Idea Details page */

.idea_page_global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.idea_item {
  display: grid;
  grid-template-columns: 55% 42% 3%;
  width: 700px;
  height: auto;
  margin-top: 20px;
  background-image: url(./images/bckgrd-color_test_answer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 85%;
  color: white;
  text-align: left;
  margin-bottom: 40px;
}

.idea_item_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.idea_item_title {
  font-size: 18px;
  color: #FFDF00;
}

.question_item_title {
  margin-top: 20px;
  font-size: 20px;
  color: #FFDF00;
}

.idea_item_description {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 40px;
}

.idea_description_owner {
  font-size: 11px;
  font-style: italic;
  font-weight: lighter;
  color: #CECECE;
  align-self: flex-end;
  padding-right: 20px;
  padding-top: 10px;
}

.like_block {
  margin-top: 10px;
  width: 400px;
}

.like_block div {
  display: inline-block;
}

.like_block button {
  background-color: #FFDF00;
  color: #363636;
  font-weight: bold;
  margin-right: 20px;
}

.like_counter {
  color: #CECECE;
  font-style: italic;
  font-weight: lighter;
  position: relative;
  top: 5px;
  left: 5px;
}

img.pointer {cursor:pointer;}

.counter {
  font-size: 0.6em;
  float: right;
  position: relative;
  top: 22px;
  right: 15px;
}

.counterbtn {
  font-size: 0.5em;
  float:right;
  position: relative;
  top:15px;
  right:10px
}


.idea_background_picture {
  height: auto;
  background-image: url(./images/bckgrd_tests_004.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
}

.question_background_picture {
  height: 300px;
  background-image: url(./images/bckgrd_questions_001.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
}

/* Idea with comments */

.idea_comments_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.idea_comments_block form {
  margin-bottom: 30px;
}

.idea_comments_block label {
  margin-right: 10px;
}

.idea_comments_block input {
  width: 300px;
}

.idea_comments_block button {
  background-color: #FFDF00;
  color: #363636;
  font-weight: bold;
  margin-left: 20px;
}

.comment_description {
  width: 450px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin: auto;
}

.comment_description span {
  font-size: 12px;
  font-style: italic;
  color: #CECECE;
  float:right;
  padding-right: 20px;
  margin-top: 15px;
}

.own_comment {
  background: linear-gradient(to right, #CECECE, white);
}

.own_comment span {
  font-size: 12px;
  font-style: italic;
  color: #363636;
  float:left;
  margin-top: 30px;
}

.answer {
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}

.own_answer {
  text-align: right;
  margin-right: 15px;
  margin-top: 10px;
}

.question_item {
  overflow: hidden;
  text-align: left;
  padding: 10px 20px 8px 20px;
  height: 90px;
  margin: 10px auto;
  border: 1px solid #CECECE;
  transition: height 0.5s;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: #363636;
}

/* Question Pages */
@media (min-width: 576px) {
  .question_item {
    width: 300px;
  }
  .list_ideas_item {
  width: 300px;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .question_item {
    width: 400px;
  }
  .list_ideas_item {
  width: 400px;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .question_item {
    width: 600px;
  }
  .list_ideas_item {
  width: 600px;
  }
 }

@media (min-width: 1200px) {
  .question_item {
    width: 800px;
  }
  .list_ideas_item {
  width: 800px;
  }
}



.question_answer {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 8px;
  width: 600px;
  margin: 10px auto;
}

.btn-send {
  color:#363636;
  background-color: #FFDF00;
}

.question_item:hover {
  height: 250px;
}

.question_item_display {
  text-align: left;
  padding-left: 25px;
  padding-bottom: 8px;
  width: 600px;
  margin: 10px auto;
  border: 1px solid #CECECE;
}

.topic_item {
  overflow: hidden;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 8px;
  width: 600px;
  height: 100px;
  margin: 10px auto;
  border: 1px solid #CECECE;
  transition: height 1s;
}

.topic_item:hover {
  height: 270px;
}

.questionbutton {
  float: left;
}


/* View Tests */


.div_glob_tests {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}


.viewtest_item_bckgrd {
  background-image: url(./images/bckgrd_tests_015.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 270px;
  margin: 30px;
  float: left;
}

.viewtest_item_content {
  background-color: white;
  margin: auto;
  margin-top: 20%;
  width: 200px;
  border: 1px solid #363636;
}

/* ATTENTION !! THINK TO DELETE THIS TO ACCESS BUTTON FOR ARCHIEVING TEST !!! */

.viewtest_item_content form {
  display: none;
}

/* ATTENTION !! THINK TO DELETE THIS TO ACCESS BUTTON FOR ARCHIEVING TEST !!! */

.viewtest_item_date {
  font-style: italic;
  font-weight: lighter;
  color: #cecece;
  padding-bottom: 10px;
}

.viewtest_item_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  background-color: #FFDF00;
  color: #363636;
  font-size: 18px;
}

.viewtest_item_button button {
  background: none;
}

.product_picture {
  margin:auto;
  margin-top: 10%;
  width: 150px;
  height: 100px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product_picture img {
    max-width: 100%;
    max-height: 100%;
}


/* Test */

.div_global_test {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.test_item {
  display: grid;
  grid-template-columns: 45% 50% 5%;
  width: 700px;
  height: 350px;
  margin-top: 50px;
  background-image: url(./images/bckgrd-color_test_answer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 85%;
  color: white;
  text-align: left;
}

.description_test_for_answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.vt_prdct_pict {
  position: relative;
  top: -15px;
  left: 60%;
  width: 70px;
  height: 70px;
  box-shadow: 0 2px 8px 0 rgba(255,255,255,0.4);
}

.vt_prdct_pict img {
    max-width: 100%;
    max-height: 100%;
}

.vt_test_title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  color: #ffdf00;
}

.vt_test_descr {
  font-style: italic;
  color: #cecece;
  padding-bottom: 25px;
}

/*.vt_test_question {
  background-color: white;
  color: #363636;
  padding: 8px;
  margin-right:10px;
}*/

.answer_test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 350px;
  border: 1px solid #363636;
  text-align: left;
  color: black;
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.label_test_answer {
  color: #363636;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 15px;
}

.answer_test textarea {
  width: 100%;
  height: 150px;
  resize:none;
}

.answer_test button {
  float:right;
  margin-top: 10px;
  background-color: #ffdf00;
  color: #363636;
}




/* */


.topTitle {
  color: #363636;
  font-size: 30px;
  padding: 8px 20px 8px 20px;
  margin: 30px 0 10px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: #363636;
}

.textareaset{
  width: 90%;
}

.formset {
  margin-left:5%;
  width: 90%;
}

.submitset {
  margin-top:20px;
}

.navbar {
  display: flex;
  align-items:center;
  margin-bottom: 0px;
  padding-start: 0px;
}

.signout {
  font-family: Roboto, arial, sans-serif;
  background-color: #4285f4;
  border: none;
  color: #fff;
  padding: .5em .75em;
  cursor: pointer;
}

.user_item {
  overflow: hidden;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 8px;
  width: 600px;
  height: 70px;
  margin: 10px auto;
  border: 1px solid #CECECE;
  transition: height 1s;
  border-radius:5px;
}

.user_item:hover {
  height: 255px;
}

.user_item h4 {
  padding-top: 10px;
}

.user_description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  background: linear-gradient(to right, #efefef, white);
}

.user_description span {
  font-style: italic;
  color: #CECECE;
  float:right;
  padding-right: 20px;
  margin-top: 20px;
}

.user_description label {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Feedbacks pages Success // Failed */

.feedbacks {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.feedback_baseline {
  font-size: 16px;
  color: #363636;
}

.circle{
    margin-left:60px;
    padding: 4px;
    width:30px;
    background:#363636;
    height:30px;
    color:white;
    text-align:center;
    border-radius:30px;
}

/* REACT TABS */

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.inputtextprofile {
  width: 400px
}

/* END OF REACT TABS */


/* Test graph on Users View */

.stats_users {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0 auto;
}

.stats_users_level {
  margin-right: 30px;
}

.graph {
  border: 1px solid #CECECE;
  margin-bottom: 10px;
}

.stats_users_level .loader {
  height: 20px;
  width: 80px;
  background-color: #FFDF00;
}

.stats_gender_level .loader {
  height: 20px;
  width: 80px;
  background-color: MediumOrchid;
}

.inputfield {
  width:300px;
}
